<div class="text-layout">
    <h1>No-commons Pipes</h1>
    <p>
        Pipes included in Angular - Usually in the Common Module
    </p>
</div>

<div class="grid text-layout">
<div class="col md-6 sm-9">
    <p-fieldset legend="i18nSelect Pipe" [toggleable]="true">
        Saludos {{name}}, es un placer
         {{genre | i18nSelect:invitationMap
        
        }} a nuestro evento.
    </p-fieldset>
</div>
<div class="col md-6 sm-9">
    <p-fieldset legend="i18nPlural Pipe" [toggleable]="true">
        Content
    </p-fieldset>
</div>
</div>