<app-menu></app-menu>

<div class="text-layout">
  <h1>{{name | titlecase}}</h1>
  <h1>{{value|number}}</h1>
  <h1>{{obj | json}}</h1>
</div>


<button pButton label="Show name" (click)="showName()" icon="pi pi-angle-double-right" iconPos="right"></button>


  <p-card [header]="name | titlecase"
  subheader="Lorem subheader">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid quaerat cumque nostrum. Culpa vel voluptates earum neque doloribus minus officiis dicta, maiores quis doloremque recusandae odit laboriosam inventore adipisci alias?
</p-card>

